# 02. 기본자료형

## 02-01. 숫자형(Numeric)
### 02-01-01. 숫자 자료형의 종류

In [4]:
# int
num1 = 1
num2 = -1

print(type(num1))
print(type(num2))

# float
num3 = 3.14
num4 = 1.0

print(type(num3))
print(type(num4))

# complex
num5 = 4 + 4j
print(type(num5))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>

### 02-01-02. 숫자 자료형의 연산
- 사칙연산

In [6]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

num3 = 10
num4 = 0.1

print(num3 + num4)
print(num3 - num4)
print(num3 * num3)
print(num3 / num4)

13
7
30
3.3333333333333335
10.1
9.9
100
100.0

- 나눗셈 나머지 연산과 몫 연산

In [8]:
num1 = 11
num2 = 7

# 나눗셈 연산
print(num1 / num2)

# 나머지 연산
print(num1 % num2)

# 몫만 구하는 연산
print(num1 // num2)

1.5714285714285714
4
1

- 제곱 연산

In [10]:
base = 9
exponent = 3

print(base ** exponent)

729

## 02-02. 논리형 (Boolean)
### 02-02-01. 논리 자료형
- True 또는 False 값을 가지는 자료형

In [11]:
bool1 = True
bool2 = False

print(type(bool1))
print(type(bool2))

<class 'bool'>
<class 'bool'>

### 02-02-02. 논리 자료형의 연산
- 비교연산

In [13]:
print(1 == 3)
print('ohgiraffers' != 'Ohgiraffers')
print(100 > 99)
print(100 < 99)
print(0 >= 1)
print(0 <= 1)

False
True
True
False
False
True

- 논리 연산

In [16]:
print(1 != 3 and 100 > 99 and True)
print(1 != 3 or 100 > 99 or True)

print(1 <= 50 <= 100)

print(not True)

True
True
True
False

## 02-03. 문자형(String)
### 02-03-01. 문자형 선언
- 쌍따옴표와 홑따옴표를 사용하여 문자형 리터럴을 선언할 수 있다.

In [17]:
my_name = 'Tiger'

- 삼중 따옴표를 사용해 여러 줄(멀티라인)으로 선언하는 것도 가능하다.

In [18]:
text = """
세상에서 제일 긴 게 뭘까요?
기차? 기린의 목? 코끼리의 코?
전부 아닙니다.
여러분의 무한한 가능성입니다.
"""

text

'\n세상에서 제일 긴 게 뭘까요?\n기차? 기린의 목? 코끼리의 코?\n전부 아닙니다.\n여러분의 무한한 가능성입니다.\n'

### 02-03-02. 문자형 연산
- 문자열 이어붙이기 : +

In [25]:
greeting = '반갑습니'
name = '다람쥐'

print(greeting + name)
print(greeting + "다. " + name + "입니다!")

print(str(900) + "살 " + name + "입니다.")

반갑습니다람쥐
반갑습니다. 다람쥐입니다!
900살 다람쥐입니다.

- 문자열 반복하기

In [26]:
subject = "python"
print("무슨 일이든 시작 전에 세 번만 외쳐보자. " + ("나는 " + subject + "을 잘 할 수 있다! ") * 3)

무슨 일이든 시작 전에 세 번만 외쳐보자. 나는 python을 잘 할 수 있다! 나는 python을 잘 할 수 있다! 나는 python을 잘 할 수 있다!

### 02-03-03. 문자형의 메소드

In [36]:
# replace()
enroll_date = '2024/12/16'
rep_enroll_date = enroll_date.replace("/", "-")

print(rep_enroll_date)

#strip()
origin = 'ohgiraffers'
with_white_space = '   oh giraffers   '

# 인자 생략 시 앞 뒤 공백 제거
print(with_white_space)
print(with_white_space.strip())

print(with_white_space.strip('   o'))

# 앞뒤로 제거
print(origin.strip('os'))

# 앞부분에서 제거 시작
print(origin.lstrip('os'))

# 맨 뒷 부분에서 제거 시작
print(origin.rstrip('os'))

2024-12-16
   oh giraffers
oh giraffers
h giraffers
hgiraffer
hgiraffers
ohgiraffer

In [41]:
origin_str = 'hELLO wORLD!'

print(origin_str.upper())
print(origin_str.lower())
print(origin_str.capitalize())
print(origin_str.swapcase())
print(origin_str.title())

HELLO WORLD!
hello world!
Hello world!
Hello World!
Hello World!

### 02-03-04. 문자형 포맷팅
- %포맷팅

In [43]:
x = 10
print("x is %d" %x)

y = "code"
print("y is %s" %y)

x is 10
y is code

- format()

In [47]:
x, y = 10, "code"

print("x is {0}".format(x))
print("x is {0} y is {1}".format(x, y))
print("x is {new_x} and y is {new_y}".format(new_x=x, new_y=y))

x is 10
x is 10 y is code
x is 10 and y is code

- f-string

In [48]:
teacher_name = "호랑이"
print(f"안녕하세요. 오늘부터 여러분과 함께 공부할 {teacher_name} 강사 입니다!")

안녕하세요. 오늘부터 여러분과 함께 공부할 호랑이 강사 입니다!

## 02-04. 주석
### 02-04-01. 주석의 종류
- 한 줄 주석

In [49]:
# 이렇게 그냥 작성

In [50]:
print('이건 해석하구요')
# print('이건 해석하지 않습니다.')
print('이건 해석합니다.')

이건 해석하구요
이건 해석합니다.

- 여러 줄 주석

In [66]:
'''
삼중 따옴표를 사용하면
구간에 걸친 주석이 적용됩니다.

print('그래서')
print('여기도')
print('출력되지 않습니다.')
'''

print('여기만 출력됩니다.')

여기만 출력됩니다.

In [52]:
"""
작은 따옴표여도
큰 따옴표여도 똑같습니다.

print('그래서 여기도 출력되지 않습니다')
"""

print('여기만 출력됩니다.')

여기만 출력됩니다.

## 02-05. 형변환
### 02-05-01. 형변환이란
### 02-05-02. 형변환의 종류

1. 암시적 형변환

In [55]:
print(True + 3)
print(3 + 5.0)
# print(3 + "5")  # 암시적 변환 불가능

4
8.0

TypeError: unsupported operand type(s) for +: 'int' and 'str'

2. 명시적 형변환

- str, float => int (단, 형식에 맞는 문자열로만 정수로 변환 가능)

In [57]:
print(int('3') + 4)
# print(int('3.5') + 2)     # 문자열의 형태가 정수형이 아니므로 형변환 불기

7

ValueError: invalid literal for int() with base 10: '3.5'

- str, int => float(단, 형식에 맞는 문자열로만 float로 변환 가능)

In [59]:
print(float('3.5') + 1.0)
print(float('3') + 1)

4.5
4.0

- int, float, list, tuple, dict => str(문자열 변환은 전부 가능)

In [60]:
print(str(1))
print(str(1.0))
print(str({1, 2, 3}))

1
1.0
{1, 2, 3}

- list, tuple, dict => list

In [63]:
print(list('ohgiraffers'))
print(list((1, 2, 3, 4, 5)))
print(list({"1": "hello", "2": "world"}))

['o', 'h', 'g', 'i', 'r', 'a', 'f', 'f', 'e', 'r', 's']
[1, 2, 3, 4, 5]
['1', '2']