# 03. 리스트(List)

## 03-01. 리스트 개요

### 03-01-01. 리스트란?

### 03-01-02. 리스트 표현식

In [2]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

print(fruits)
print(fruits[0])    # 인덱싱

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']
orange

### 03-01-03. 문자열의 split()

In [3]:
rainbow_split = '빨-주-노-초-파-남-보'
print(rainbow_split.split('-'))

['빨', '주', '노', '초', '파', '남', '보']

### 03-01-04. list() 메소드

In [9]:
list1 = []
list2 = list()

print(list1 == list2)
print(type(list1))
print(type(list2))

True
<class 'list'>
<class 'list'>

## 03-02. 리스트 연산

In [6]:
safari_list = ["bear", "koala", "gorilla", "squirrel"]
another_safari_list = ["monkey", "tiger", "wolf"]

### 03-02-01. 리스트 합치기 : +

In [7]:
print(safari_list + another_safari_list)

['bear', 'koala', 'gorilla', 'squirrel', 'monkey', 'tiger', 'wolf']

### 03-02-02. 리스트 반복 : *

In [8]:
print(safari_list * 4)

['bear', 'koala', 'gorilla', 'squirrel', 'bear', 'koala', 'gorilla', 'squirrel', 'bear', 'koala', 'gorilla', 'squirrel', 'bear', 'koala', 'gorilla', 'squirrel']

## 03-03. 리스트 메소드

In [31]:
fruits = ["orange", "apple", "pear", "banana", "kiwi", "apple"]

### 03-03-01. count()

In [13]:
print(fruits.count('apple'))
print(fruits.count('test'))

2
0

### 03-03-02. index()

In [16]:
print(fruits.index('apple'))
# print(fruits.index('test'))

print(fruits.index('apple', 3))

1
5

### 03-03-03. reverse()

In [17]:
fruits.reverse()
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

### 03-03-04. append()

In [18]:
fruits.append('pineapple')
fruits

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple']

### 03-03-05. extend()

In [23]:
fruits.extend(['rainbow fruit', 'sweet lemon', 'happy apple'])
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'rainbow fruit', 'sweet lemon', 'happy apple']

### 03-03-06. insert()

In [24]:
fruits.insert(0, 'monkey banana')
print(fruits)

['monkey banana', 'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'rainbow fruit', 'sweet lemon', 'happy apple']

### 03-03-07. sort()

In [28]:
# 기본 정렬 (오름차순)
fruits.sort()
print(fruits)

# 내림차순 정렬
fruits.sort(reverse=True)
print(fruits)

# 문자열 길이가 짧은 순으로 정렬
fruits.sort(key=len)
print(fruits)

# 복합 기준 정렬
fruits.sort(key=lambda x:(len(x), x))
print(fruits)

['apple', 'apple', 'banana', 'happy apple', 'kiwi', 'monkey banana', 'orange', 'pear', 'rainbow fruit', 'sweet lemon']
['sweet lemon', 'rainbow fruit', 'pear', 'orange', 'monkey banana', 'kiwi', 'happy apple', 'banana', 'apple', 'apple']
['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'sweet lemon', 'happy apple', 'rainbow fruit', 'monkey banana']
['kiwi', 'pear', 'apple', 'apple', 'banana', 'orange', 'happy apple', 'sweet lemon', 'monkey banana', 'rainbow fruit']

### 03-03-08. remove()

In [32]:
temp = fruits.remove('kiwi')
print(temp)
print(fruits)

None
['orange', 'apple', 'pear', 'banana', 'apple']

### 03-03-09. pop()

In [35]:
temp = fruits.pop()
print(temp)
print(fruits)

pear
['orange', 'apple']

## 03-04. 리스트를 이용한 자료구조
### 03-04-01. Stack

In [42]:
plates = ['plate1', 'plate2']

plates.append('plate3')
plates.append('plate4')

print(plates)

['plate1', 'plate2', 'plate3', 'plate4']

In [41]:
print(plates.pop())
print(plates)

IndexError: pop from empty list

## 03-05. del 키워드
### 03-05-01. del

In [50]:
abclist = ['A', 'B', 'C', 'D', 'E', 'F']
print(abclist)

del abclist[0]  # 인덱싱
print(abclist)

del abclist[1:3]    # 슬라이싱
print(abclist)

del abclist[:]
print(abclist)

del abclist
# print(abclist)

['A', 'B', 'C', 'D', 'E', 'F']
['B', 'C', 'D', 'E', 'F']
['B', 'E', 'F']
[]

## 03-06. 디큐(deque)
### 03-06-01. 디큐(double-ended queue, 양방향 큐)

In [54]:
from collections import deque

dq = deque()

dq.append('a')
dq.append('b')
dq.append('c')

print(dq)

deque(['a', 'b', 'c'])

### 03-06-02. 디큐의 메소드
- append(), pop() : list에서의 append(), pop()과 동일하다.
- appendleft() : 왼쪽 끝에 요소를 추가한다.
- popleft() : 왼쪽 끝 요소 값 반환하며 제거한다.

In [56]:
dq.appendleft('x')
print(dq)

left_value = dq.popleft()
print(left_value)
print(dq)

deque(['x', 'x', 'a', 'b', 'c'])
x
deque(['x', 'a', 'b', 'c'])